{% extends 'basePreLogin.html' %}

{% block content %}

    <div class="container text-white" style="font-family:bahnschrift light">
    	<br>
        <h1>About page</h1>
        <br>
        <h4>
        	Financial Planning Web Software that catalogues a person’s income, expenses and 
        	investments, and provides projections for future investments and retirement 
        	simulations.
        </h4>
        <br>
        <h4>
        	Financial income/expense/savings data has been tabulated for 2 people who started their respective careers in 2005 at the age of 23. Both had similar growth in their career but differed in the way they spent their money and saved. The 2 people are Savitri and Shyam.
        </h4>
        <br>
        <br>
        <h3>Developed By:</h3>
        <h5>  Varsha Balaji </h5>
    </div>


{% endblock %}