{% extends 'base.html' %}

{% block content %}

	<div class="container" style="color:#66FCF1">
		<br>
		<br>
		<br>
        <u style="color:#66FCF1"><h1 class= "text-center bi-type-underline " style="font-family:bahnschrift light" >PERSONALIZED CLIENT EXPERIENCE</h1></u>
        <h5 class=" text-center" style=" font-family:bahnschrift light">Taking Care Of What's Important So You Can Focus On What Matters To You.</h5>
     	<br>
     	<br>
     	<br>
     	<br>
     	<br>
     	<br>
     	<u style="color:#66FCF1"><h1 class= "text-center bi-type-underline " style="font-family:bahnschrift light" >FESPA</h1></u>
     	<h5 class=" text-center" style=" font-family:bahnschrift light">Financial Expense-Saving Planning App</h5>
     	<br>
     	<br>
     	<br>
     	<br>
     	<br>
     </div>
     <div>
    	<h5 class="text-white text-center" style=" font-family:bahnschrift light">Contact Us At</h5>
    	<p class="text-white text-center" style=" font-family:bahnschrift light" >+91 98409 31317 | Fespa@gmail.com</p>
    </div>

{% endblock %}